<ActionBar title="Gmartins Logística & Transporte"  class="action-bar"></ActionBar>

<StackLayout class="page">
    <StackLayout class="form">
     <Image src="~/images/app_icon.png"></Image>
     <StackLayout class="hr-light"></StackLayout>

        <StackLayout class="input-field">
            <Label text="CPF" class="label font-weight-bold m-b-5"></Label>
            <TextField class="input" autocapitalizationType="none" autocorrect="false"> </TextField>
            <StackLayout class="hr-light"></StackLayout>

            <Label text="SENHA" class="label font-weight-bold m-b-5"></Label>
            <TextField class="input" secure="true" autocapitalizationType="none" autocorrect="false"> </TextField>
            <StackLayout class="hr-light"></StackLayout>

            <Button text="ENTRAR" class="btn btn-primary btn-rounded-lg"></Button>
        </StackLayout>

    </StackLayout>
</StackLayout>
